@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600;1,800&display=swap");
* {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400; }

b, strong {
  font-weight: 600; }

em, i {
  font-weight: inherit; }

* {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  background-image: url("/background.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

html, body {
  margin: 0 0;
  padding: 0 0;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; }

nav#navigation {
  display: block;
  width: 100vw;
  background-color: #e2e4e5;
  text-align: center; }
  nav#navigation a {
    width: 32vw;
    display: inline-block;
    text-align: center;
    line-height: 4em;
    text-decoration: none;
    color: #282766; }
    nav#navigation a:hover {
      background-color: #acb2b5; }

@media only screen and (min-width: 768px) {
  nav#navigation {
    width: 20vw;
    min-width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(40, 39, 102, 0.9); }
    nav#navigation .navitems {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    nav#navigation a {
      width: 100%;
      text-align: right;
      color: #e2e4e5; }
      nav#navigation a:hover {
        background: none;
        color: white;
        font-weight: 600; } }

.container {
  margin: 0 0;
  background-color: white;
  position: relative;
  top: 0;
  padding: 2em; }

header h1 {
  font-weight: 800;
  color: #282766; }

@media only screen and (min-width: 768px) {
  .container {
    width: 80vw;
    padding: 3em;
    min-width: 508px; } }

#homepage footer {
  display: none; }

#homepage header {
  display: none; }

main#splash {
  background: none; }

#splash {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000; }
  #splash section {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin: 0 auto;
    background-color: #282766;
    color: white;
    width: 100vw;
    text-align: center;
    padding: 3.5em;
    font-size: 1.1rem; }
    #splash section div {
      margin: 0px auto;
      display: block;
      text-align: left;
      max-width: 750px; }
    #splash section h1 {
      font-weight: 300;
      font-size: 1.8rem;
      text-transform: uppercase; }

.backdrop {
  width: 100vw;
  height: 100vw;
  background-color: rgba(33, 32, 84, 0.05);
  background-blend-mode: hue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2; }
