_site/
.sass-cache/*
vendor/
Gemfile.lock
public/

# Do not keep the build files
chapters/**/text.tex

# Do not keep the latex artifacts
template/*
!template/book.tex
!template/book.pdf
*.aux
*_latexmk
*.fls
*.log

# Do not keep the manifest for local building
Manifest.toml
