main#content {
    margin: 0 0;
    background-color: white;
    position: relative;
    top: 0;
}

header {
    padding-top: 8em;
    background-color: $main-color-muted;
    h1 {
        color: white;
        font-weight: 800;
    }
}

.container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 2em;
    h2 {
        color: $muted-color-darker;
    }
    h3 {
        color: $muted-color-dark;
    }
    p {
        line-height: 140%;
    }
}