main#content {
    margin: 0 0;
    background-color: white;
    position: relative;
    top: 0;
}

header {
    padding-top: 8em;
    background-color: $main-color-muted;
    h1 {
        color: white;
        font-weight: 800;
    }
}

.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 2em;
    h2 {
        color: $main-color;
    }
    h3 {
        color: $main-color-muted;
    }
    p {
        color: #222;
        padding: 1em 0em;
        font-size: 110%;
        line-height: 150%;
    }
}