#homepage {
    footer {
        display: none;
    }
    header {
        display: none;
    }
}

main#splash {
    background: none;
}

@media only screen and (min-width: 768px) {
    #homepage {
        nav#navigation, #splash {
            width: 50vw;
            height: 100vh;
            top: 0;
        }
        main {
            max-width: 500px;
            height: 100vh;
        }
    }
}
