* {
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    background-image: url($background);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    margin: 0 0;
    padding: 0 0;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}
