nav#navigation {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    line-height: 2em;
    background-color: $main-color;
    a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 1em 1em;
        &.title {
            font-weight: 300;
            &:hover {
                background: none;
            }
        }
        
    }
    .navitems {
        display: inline-block;
        margin-right: 1em;
        position: fixed;
        right: 0;
        a{
            &:hover {
                background-color: $main-color-hover;
            }
        }
    }
}
