{{ define "main" }}
<main id="content">
    <section class="container">
        {{ .Content }}    
        {{ if (eq .Section "chapters") }}
            <div class="contents"></div>    
            {{ range .Pages }}
            <div class="chapter">
                <a class="title" href="{{.Permalink}}">{{.Title}}</a>
                <p class="summary">
                    {{ .Summary }}
                </p>
            </div>
            {{ end }}
        {{ end }}
    </section>
</main>
{{ end }}